@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Ropa+Sans:ital@1&display=swap");
.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  line-height: 0; }

h3 {
  font-family: "Cadeux", sans-serif; }

h4 {
  font-family: "Cadeux", sans-serif; }

p {
  font-family: "Cadeux", sans-serif; }

ul {
  list-style: none !important;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }

.button {
  background: #E33532;
  text-decoration: none;
  border-radius: 15px;
  height: 5rem;
  width: 20rem;
  font: 1.5rem;
  font-size: large;
  font-weight: bold;
  text-shadow: none;
  transition: transform 0.3s; }
  .button:hover {
    background-color: #E33532 !important;
    color: #DEC513;
    text-decoration: none;
    transform: scale(1.1); }

/*----------LOADER----------*/
.hidden {
  overflow: hidden; }

.loader {
  background-color: #E33532;
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-perspective: 700px;
  perspective: 700px; }

.loader > span {
  font-size: 13rem;
  font-family: 'Ropa Soft Pro', 'Ropa Sans', sans-serif !important;
  display: inline-block;
  animation: flip 2.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

@keyframes flip {
  35% {
    transform: rotateX(360deg); }
  100% {
    transform: rotatex(360deg); } }

.loader > span:nth-child(odd) {
  color: #DEC513; }

.loader > span:nth-child(2) {
  animation-delay: 0.3s; }

.loader > span:nth-child(3) {
  animation-delay: 0.6s; }

.loader > span:nth-child(4) {
  animation-delay: 0.9s; }

.loader > span:nth-child(5) {
  animation-delay: 1.2s; }

.loader > span:nth-child(6) {
  animation-delay: 1.5s; }

.loader > span:nth-child(7) {
  animation-delay: 1.8s; }

.loader > span:nth-child(8) {
  animation-delay: 2s; }

.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

/*----------LOGO HEADER-FOOTER----------*/
.logoHeader {
  width: 25rem;
  height: auto;
  margin-left: 7rem; }
  .logoHeader:hover {
    animation: bounce 1s; }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

/*----------NAV BAR STYLE----------*/
.header {
  background-color: #E33532; }
  .header img {
    height: 10rem;
    width: auto; }

.header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .header__content .navbar-toggler {
    color: #DEC513;
    font-size: 2.5rem; }

.content__navbar {
  display: flex;
  align-items: center;
  justify-content: end; }
  .content__navbar li {
    margin: 0 2.5rem;
    transition: transform 0.3s;
    font-size: 1.5rem;
    font-weight: 600; }
    .content__navbar li:hover {
      transform: scale(1.2);
      transition: ease-out 0.3s; }
    .content__navbar li a {
      color: black;
      font-size: 1.5rem;
      font-weight: 600; }
      .content__navbar li a:hover {
        transform: scale(5.2);
        transition: ease-out 0.2s;
        color: #DEC513; }

#navbarNav {
  flex-direction: row-reverse; }

/*----------END NAV BAR STYLE----------*/
/*----------FOOTER STYLE----------*/
.footer {
  width: 100%; }
  .footer .footer__content {
    display: flex;
    align-items: center;
    background-color: #E33532;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 0 !important; }
    .footer .footer__content .logoFooter {
      width: 25rem;
      height: auto;
      padding-bottom: 6rem;
      border-radius: 25px; }
      .footer .footer__content .logoFooter:hover {
        animation: bounce 1s; }
    .footer .footer__content .quickMenu__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 2rem 0 5rem 0;
      text-align: center;
      padding-right: 4rem; }
      .footer .footer__content .quickMenu__content .quickMenu__title h4 {
        font-size: 2.5rem;
        font-weight: bolder;
        color: black; }
      .footer .footer__content .quickMenu__content .quickMenu__item {
        transition: transform 0.3s; }
        .footer .footer__content .quickMenu__content .quickMenu__item:hover {
          transform: scale(1.2);
          transition: ease-out 0.3s; }
        .footer .footer__content .quickMenu__content .quickMenu__item a {
          color: black;
          font-size: 1.5rem;
          font-weight: 600;
          color: black; }
          .footer .footer__content .quickMenu__content .quickMenu__item a:hover {
            transform: scale(5.2);
            transition: ease-out 0.2s;
            color: #DEC513; }
    .footer .footer__content .footer__socialMedia {
      display: flex;
      justify-content: center; }
      .footer .footer__content .footer__socialMedia .socialMedia__item {
        padding: 0 0.5rem 5rem 0.5rem; }
      .footer .footer__content .footer__socialMedia .socialMedia__item-content {
        width: 4rem;
        height: 4rem;
        background-color: #E33532;
        text-align: center;
        line-height: 4rem;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        z-index: 1; }
        .footer .footer__content .footer__socialMedia .socialMedia__item-content .a__img {
          width: 3rem;
          height: 3rem;
          position: relative;
          transition: .5s;
          z-index: 3; }

.socialMedia__item-content:hover img {
  transform: rotateY(360deg); }

.socialMedia__item-content:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2; }

.socialMedia__item-content:hover:before {
  top: 0; }

.footer__socialMedia li:nth-child(1) a:before {
  background: #DEC513; }

.footer__socialMedia li:nth-child(2) a:before {
  background: #DEC513; }

.footer__socialMedia li:nth-child(3) a:before {
  background: #DEC513; }

.footer__rights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #E33532;
  justify-content: center;
  padding-top: 5rem;
  margin: auto; }
  .footer__rights .rights__text {
    justify-self: center;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    font-weight: 600; }
    .footer__rights .rights__text a {
      color: black; }
  .footer__rights .goUp {
    display: flex;
    justify-content: right;
    background-color: #E33532; }
    .footer__rights .goUp a {
      color: black; }
    .footer__rights .goUp .material-icons {
      font-size: 24px;
      margin-right: 2rem;
      margin-bottom: 2rem; }

.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

.reveal {
  position: relative;
  opacity: 0; }

.reveal.active {
  opacity: 1; }

.active.fade-bottom {
  animation: fade-bottom 0.6s ease-in; }

.active.fade-left {
  animation: fade-bottom 0.6s ease-in; }

.active.fade-right {
  animation: fade-bottom 0.6s ease-in; }

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

/*----------PRODUCTS PAGE STYLE----------*/
.section__products {
  margin-left: 2rem;
  margin-right: 2rem; }
  .section__products .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    height: 55rem;
    width: auto;
    padding: auto; }
    .section__products .card .card-body {
      display: flex;
      justify-content: center;
      margin: auto; }
    .section__products .card .card-text {
      font-size: 1.5rem; }
    .section__products .card .products__img {
      width: 37rem;
      height: 29rem;
      border-radius: 15px;
      margin: 1rem auto; }
    .section__products .card .products__caract li {
      list-style: circle;
      margin-left: 2rem; }

.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

/*----------ABOUT US PAGE STYLE----------*/
.about__text {
  font-size: 2rem;
  text-align: left;
  align-items: center; }
  .about__text h3 {
    font-size: 3rem; }

.video {
  width: 60rem;
  height: 33rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

/*----------CONTACT PAGE STYLE----------*/
.contact__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.contact__form {
  border: solid 1px #474544;
  width: 100%;
  font-size: 1.5rem;
  color: #999; }

#name {
  grid-area: name; }

#lastName {
  grid-area: lastName; }

#email {
  grid-area: email; }

#subject {
  grid-area: subject; }

#message {
  grid-area: message; }
  #message .form--text {
    width: 40rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5.5rem;
    margin-bottom: -2.5rem; }

#sendButton {
  grid-area: sendButton;
  width: 100%;
  margin-top: 2.5rem; }

.form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "name lastName" "email subject" "message message" "message message" "sendButton sendButton"; }

.form--item {
  margin: 1rem auto 0.5rem auto;
  justify-content: center;
  text-align: center;
  padding: auto; }

.form--label {
  font-weight: bold;
  color: #292929; }

.form--text {
  border: none;
  border-bottom: solid 1px #474544;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  text-align: center; }

.btn--input {
  all: unset; }

.form__img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px; }

.swal-modal {
  border-radius: 15px;
  border: 3px solid #E33532; }

.swal-title {
  margin: 0px;
  font-size: 4rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 2.5rem;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3); }

.swal-text {
  font-size: 2rem;
  padding: 2rem;
  display: block;
  margin: 22px;
  text-align: center;
  color: black;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3); }

.section1 {
  margin-bottom: 15rem; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Ropa Soft Pro', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

/*----------FINDUS PAGE STYLE----------*/
.section__findUs .findUs__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: auto;
  column-gap: 5rem;
  row-gap: 5rem; }
  .section__findUs .findUs__grid .grid__clientLogo img {
    width: 15rem;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s; }
    .section__findUs .findUs__grid .grid__clientLogo img:hover {
      transform: scale(1.2);
      transition: ease-out 0.3s; }

/*----------INDEX - MARKETING----------*/
.marketing {
  margin-top: 15rem;
  font-size: 2rem; }
  .marketing .marketing__cards {
    text-align: center; }
    .marketing .marketing__cards .row {
      height: max-content; }
    .marketing .marketing__cards .marketing__cards--item h3 {
      margin-top: 1rem;
      font-size: 3rem; }
    .marketing .marketing__cards .marketing__cards--item img {
      width: 25rem;
      height: 25rem; }
    .marketing .marketing__cards .marketing__cards--item a {
      font-size: large;
      color: whitesmoke; }
    .marketing .marketing__cards .marketing__cards--item .btn {
      padding-top: 1rem;
      text-decoration: none;
      height: 5rem;
      width: 10rem;
      transition: transform 0.3s; }
      .marketing .marketing__cards .marketing__cards--item .btn:hover {
        background-color: #E33532 !important;
        color: #DEC513;
        text-decoration: none;
        transform: scale(1.1); }

/*----------END INDEX - MARKETING----------*/
/*----------INDEX - SLIDER----------*/
.carousel-item .img1 {
  display: block; }

.carousel-item .img2 {
  display: none; }

/*----------END INDEX - SLIDER----------*/
/*----------INDEX - HIGHLIGHTS----------*/
.products__section {
  margin: 10rem 0;
  display: grid;
  justify-items: center; }
  .products__section .card.mb-3 {
    max-width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .products__section .card.mb-3 .col-md-4 {
      align-self: center; }

.card-text {
  font-size: 2rem;
  text-align: left; }
  .card-text .h3 {
    font-size: 3rem; }

/*----------END INDEX - HIGHLIGHTS----------*/
/*----------NDEX - GALMA DECO----------*/
.sectionGalma {
  margin-bottom: 10rem; }
  .sectionGalma .sectionGalma__logo--a {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }
    .sectionGalma .sectionGalma__logo--a #galmaLogo {
      width: 35rem;
      height: 15rem;
      border-radius: 10px;
      margin-bottom: 2rem;
      transition: transform 0.5s;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: ease-out 0.3s;
      margin-bottom: 5rem; }
      .sectionGalma .sectionGalma__logo--a #galmaLogo:hover {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 7px 15px 3px;
        transform: scale(1.1); }

.sectionGalma__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  justify-items: center;
  column-gap: 1rem;
  width: fit-content;
  margin: auto; }
  .sectionGalma__products img {
    width: 20rem;
    height: 20rem;
    border-radius: 10px; }

/*----------END NDEX - GALMA DECO----------*/
/*----------MEDIA QUERIES----------*/
@media (max-width: 1260px) {
  /*----------HEADER STYLES----------*/
  .header__content {
    justify-content: center; }
    .header__content a {
      margin: auto; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    padding: 0; }
    .sectionGalma__products img {
      width: 30rem;
      height: 30rem; }
  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img {
    width: 36rem !important; }
  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    row-gap: 2rem; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .video {
    width: 50vw;
    height: auto;
    margin-bottom: 10rem;
    justify-content: center; } }

@media (max-width: 992px) {
  /*----------HEADER----------*/
  .logoHeader {
    margin: auto; }
  .content__navbar {
    flex-direction: column;
    padding: 1rem;
    height: 80vh;
    width: 100vw;
    justify-content: start;
    align-items: center; }
    .content__navbar li {
      font-size: 2rem;
      padding: 2rem; }
  /*----------INDEX-MARKETING----------*/
  .marketing__cards--item {
    margin-bottom: 5rem; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products {
    grid-template-columns: repeat(2, 1fr); }
    .sectionGalma__products img {
      width: 25rem;
      height: 25rem; }
  /*----------PRODUCTS PAGE CARDS----------*/
  .card .products__img {
    width: 34rem !important; }
  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    margin: 5rem auto auto auto;
    column-gap: 3rem;
    row-gap: 3rem; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .sectionAboutUs {
    text-align: -webkit-center; }
  .video {
    width: 80vw;
    height: auto;
    margin: auto;
    justify-content: center; }
  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    justify-items: center; }
  .form__img {
    width: 80vw;
    height: auto; }
  /*----------CONTACT PAGE MEDIA----------*/
  .footer__logo {
    padding-top: 3rem; } }

@media (max-width: 768px) {
  /*----------SLIDER----------*/
  .carousel-item .img1 {
    display: none; }
  .carousel-item .img2 {
    display: block; }
  /*----------INDEX - GALMA DECO----------*/
  .sectionGalma__products img {
    width: 20rem;
    height: 20rem; }
  /*----------INDEX HIGHLIGHTS CARDS----------*/
  .products__section .card.mb-3 {
    max-width: 90%; }
    .products__section .card.mb-3 img {
      width: 90%;
      margin: 5%;
      border-radius: 15px !important; }
    .products__section .card.mb-3 .card-text {
      margin: 2rem 3rem; }
  .card-text {
    padding-left: 1.5rem; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .sectionAboutUs {
    text-align: -webkit-center; }
  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    justify-items: center; }
  .card-body {
    padding: 0;
    align-self: center; }
  /*----------FOOTER----------*/
  .footer__content {
    display: grid !important; }
    .footer__content .quickMenu__content {
      padding: 0 !important; }
  .goUp {
    display: none; } }

@media (max-width: 576px) {
  /*----------HEADER----------*/
  .loader > span {
    font-size: 10rem; }
  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img {
    width: 34rem; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products {
    grid-template-columns: repeat(2, 1fr); }
    .sectionGalma__products img {
      width: 15rem;
      height: 15rem; }
  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    margin: 5rem auto auto auto;
    column-gap: 4rem;
    row-gap: 3rem; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .video {
    width: 90vw; }
  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 480px) {
  /*----------HEADER----------*/
  .loader > span {
    font-size: 8rem;
    width: fit-content; }
  /*----------GALMA----------*/
  .sectionGalma__products img {
    width: 15rem;
    height: 15rem; }
  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img {
    width: 33rem !important; }
  /*---------CONTACT FORM----------*/
  .contact__form {
    width: fit-content; } }

@media (max-width: 380px) {
  /*----------HEADER----------*/
  .loader > span {
    font-size: 8rem; }
  /*---------SECTION TITLE GLOBAL STYLE----------*/
  .section__title {
    font-size: 4rem; }
  /*---------PRODUCTS CARD----------*/
  .products__img {
    width: 30rem !important; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products img {
    width: 15rem;
    height: 15rem; }
  /*---------CONTACT FORM----------*/
  .contact__form {
    width: 90vw; }
    .contact__form #message {
      width: 20rem; } }
