.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Caudex', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

a {
  text-decoration: none !important; }

.button {
  background: #E33532;
  text-decoration: none;
  border-radius: 15px;
  height: 5rem;
  width: 20rem;
  font: 1.5rem;
  font-size: large;
  font-weight: bold;
  text-shadow: none;
  transition: transform 0.3s; }
  .button:hover {
    background-color: #E33532 !important;
    color: #DEC513;
    text-decoration: none;
    transform: scale(1.1); }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Caudex', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Caudex', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532; }

/*----------LOGO HEADER-FOOTER----------*/
.logoFooter {
  width: 25rem;
  height: auto;
  margin-left: 10rem;
  margin-top: 1rem; }
  .logoFooter:hover {
    animation: bounce 1s; }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

/*----------NAV BAR STYLE----------*/
.header {
  background-color: #E33532; }
  .header img {
    height: 10rem;
    width: auto; }

.header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.content__navbar {
  display: flex;
  align-items: center;
  justify-content: end; }
  .content__navbar li {
    margin: 0 2.5rem;
    transition: transform 0.3s;
    font-size: 1.5rem;
    font-weight: 600; }
    .content__navbar li:hover {
      transform: scale(1.2);
      transition: ease-out 0.2s; }
    .content__navbar li a {
      color: #292929;
      transition: transform 0.3s; }
      .content__navbar li a:hover {
        transform: scale(5.2);
        transition: ease-out 0.2s;
        color: #DEC513; }

#navbarNav {
  flex-direction: row-reverse; }

/*----------FOOTER STYLE----------*/
.container footer {
  width: 100%; }

.footer {
  background-color: #E33532;
  justify-content: space-between; }

.footer__ul {
  width: 8rem;
  height: 8rem;
  background-color: #E33532;
  text-align: center;
  line-height: 8rem;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.a__img {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  transition: .5s;
  z-index: 3; }

.footer__ul:hover img {
  transform: rotateY(360deg); }

.footer__ul:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2; }

.footer__ul:hover:before {
  top: 0; }

.nav li:nth-child(1) a:before {
  background: #DEC513; }

.nav li:nth-child(2) a:before {
  background: #DEC513; }

.nav li:nth-child(3) a:before {
  background: #DEC513; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Caudex', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532; }

/*----------PRODUCTS PAGE STYLE----------*/
.section__products {
  margin: 8rem 2rem 10rem 2rem; }
  .section__products .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    height: 62rem; }

.products__caract li {
  list-style: circle;
  margin-left: 2rem; }

.products__img {
  width: 38rem;
  height: 30rem;
  border-radius: 15px;
  margin: 1rem auto; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Caudex', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532; }

/*----------ABOUT US PAGE STYLE----------*/
.about__text {
  font-size: 2rem;
  text-align: left;
  align-items: center; }
  .about__text h3 {
    font-size: 3rem; }

.video {
  width: 60rem;
  height: 33rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Caudex', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532; }

/*----------CONTACT PAGE STYLE----------*/
.contact__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10rem; }

.contact__form {
  border: solid 1px #474544;
  width: 100%;
  font-size: 1.5rem;
  color: #999; }

#name {
  grid-area: name; }

#lastName {
  grid-area: lastName; }

#email {
  grid-area: email; }

#subject {
  grid-area: subject; }

#message {
  grid-area: message; }
  #message .form--text {
    width: 40rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 9.5rem;
    margin-bottom: -2.5rem; }

#sendButton {
  grid-area: sendButton;
  width: 100%; }

.form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "name lastName" "email subject" "message message" "message message" "sendButton sendButton"; }

.form--item {
  margin: 2rem auto 0.5rem auto;
  justify-content: center;
  text-align: center;
  padding: auto; }

.form--label {
  font-weight: bold;
  color: #292929; }

.form--text {
  border: none;
  border-bottom: solid 1px #474544;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  text-align: center; }

.btn--input {
  all: unset; }

.form__img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px; }

.swal-modal {
  border-radius: 15px;
  border: 3px solid #E33532; }

.swal-title {
  margin: 0px;
  font-size: 4rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 2.5rem;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3); }

.swal-text {
  font-size: 2rem;
  padding: 2rem;
  display: block;
  margin: 22px;
  text-align: center;
  color: black;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3); }

.section__title, .sectionAboutUs h2, .contact .section__title, .section__findUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Caudex', serif;
  text-align: center;
  font-size: 6rem;
  color: #E33532; }

/*----------FINDUS PAGE STYLE----------*/
.findUs__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 5rem auto auto auto;
  column-gap: 5rem;
  row-gap: 5rem; }

.grid__clientLogo img {
  width: 15rem;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s; }

.grid__clientLogo img:hover {
  transform: scale(1.2);
  transition: ease-out 0.3s; }

/*----------INDEX - MARKETING----------*/
.marketing {
  margin-top: 15rem;
  font-size: 2rem; }
  .marketing .marketing__cards {
    text-align: center; }
    .marketing .marketing__cards .marketing__cards--item h3 {
      margin-top: 1rem;
      font-size: 3rem; }
    .marketing .marketing__cards .marketing__cards--item img {
      width: 30rem;
      height: 30rem; }
    .marketing .marketing__cards .marketing__cards--item a {
      font-size: large; }
    .marketing .marketing__cards .marketing__cards--item .btn {
      padding-top: 1rem;
      text-decoration: none; }

/*----------END INDEX - MARKETING----------*/
/*----------INDEX - HIGHLIGHTS----------*/
.products__section {
  margin: 10rem 0;
  display: grid;
  justify-items: center; }

.card.mb-3 {
  max-width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.info__container {
  backdrop-filter: blur(15px); }

.card-text {
  font-size: 2rem;
  text-align: left; }

.h3 {
  font-size: 3rem; }

/*----------END INDEX - HIGHLIGHTS----------*/
/*----------NDEX - GALMA DECO----------*/
.sectionGalma {
  margin-bottom: 10rem; }
  .sectionGalma .sectionGalma__logo--a {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }
    .sectionGalma .sectionGalma__logo--a #galmaLogo {
      width: 35rem;
      height: 15rem;
      border-radius: 10px;
      margin-bottom: 2rem;
      transition: transform 0.5s;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: ease-out 0.3s;
      margin-bottom: 5rem; }
      .sectionGalma .sectionGalma__logo--a #galmaLogo:hover {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 7px 15px 3px;
        transform: scale(1.1); }

.sectionGalma__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  justify-items: center;
  column-gap: 1rem;
  width: fit-content;
  margin: auto; }
  .sectionGalma__products img {
    width: 20rem;
    height: 20rem;
    border-radius: 10px; }

/*----------END NDEX - GALMA DECO----------*/
/*----------MEDIA QUERIES----------*/
@media (max-width: 1260px) {
  /*----------HEADER STYLES----------*/
  .header__content {
    justify-content: center; }
    .header__content a {
      margin: auto; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    padding: 0; }
    .sectionGalma__products img {
      width: 30rem;
      height: 30rem; }
  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img {
    width: 36rem; }
  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    row-gap: 2rem; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .video {
    width: 50vw;
    height: auto;
    margin-bottom: 10rem;
    justify-content: center; } }

@media (max-width: 992px) {
  /*----------HEADER----------*/
  .content__navbar {
    flex-direction: column;
    padding: 1rem;
    height: 80vh;
    width: 100vw;
    justify-content: start;
    align-items: center; }
    .content__navbar li {
      font-size: 2rem;
      padding: 2rem; }
  /*----------INDEX-MARKETING----------*/
  .marketing__cards--item {
    margin-bottom: 5rem; }
  /*----------FOOTER----------*/
  .footer {
    display: flex;
    flex-direction: column; }
  .logoFooter {
    margin-left: auto; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products {
    grid-template-columns: repeat(2, 1fr); }
    .sectionGalma__products img {
      width: 25rem;
      height: 25rem; }
  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img {
    width: 36rem; }
  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem auto auto auto;
    column-gap: 3rem;
    row-gap: 3rem; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .sectionAboutUs {
    text-align: -webkit-center; }
  .video {
    width: 80vw;
    height: auto;
    margin: auto;
    justify-content: center; }
  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    justify-items: center; }
  .form__img {
    width: 80vw;
    height: auto; } }

@media (max-width: 768px) {
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products img {
    width: 20rem;
    height: 20rem; }
  /*----------INDEX HIGHLIGHTS CARDS----------*/
  .card.mb-3 {
    max-width: 80%; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .sectionAboutUs {
    text-align: -webkit-center; }
  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 3rem; }
  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    justify-items: center; } }

@media (max-width: 576px) {
  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img {
    width: 34rem; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products {
    grid-template-columns: repeat(2, 1fr); }
    .sectionGalma__products img {
      width: 15rem;
      height: 15rem; }
  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem auto auto auto;
    column-gap: 4rem;
    row-gap: 3rem; }
  /*----------ABOUT US PAGE MEDIA----------*/
  .video {
    width: 90vw; }
  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 480px) {
  /*----------PRODUCTS PAGE CARDS----------*/
  .sectionGalma__products img {
    width: 15rem;
    height: 15rem; } }

@media (max-width: 380px) {
  /*---------PRODUCTS CARD----------*/
  .products__img {
    width: 25rem; }
  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products img {
    width: 15rem;
    height: 15rem; } }
