@import 'variables';
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
  line-height: 0;
}
  
ul{
  list-style: none !important;
  margin: 0;
  padding: 0;
}
  
a{
  text-decoration: none !important;
}


.section__title{ 
  @extend %sectionTitle;
}

.button{
  background: $brandRed;
  text-decoration: none;
  border-radius: 15px;
  height: 5rem;
  width: 20rem;
  font: 1.5rem;
  font-size: large;
  font-weight: bold;
  text-shadow: none;
  transition: transform 0.3s;   

      &:hover{
          background-color: $brandRed !important;
          color: $brandYellow;
          text-decoration: none;
          transform: scale(1.1);
      }
}

/*----------LOADER----------*/
.hidden{
  overflow: hidden;
}

.loader{
  background-color:$brandRed;
	padding: 0 !important;
	margin: 0 !important;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	-webkit-perspective:700px;
	perspective: 700px;
}

.disappear{
  animation:vanish 2s forwards;
}

@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.loader>span{
	font-size: 130px;
	font-family: 'Ropa Soft Pro', serif !important;
	display: inline-block;
	animation:flip 2.6s infinite linear;
	transform-origin:0 70%;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

@keyframes flip{
	35%{
		transform: rotateX(360deg);
	}
	100%{
		transform: rotatex(360deg);
	}
}


.loader>span:nth-child(odd){
	color:$brandYellow;

}

.loader>span:nth-child(2){
	animation-delay: 0.3s;
}

.loader>span:nth-child(3){
	animation-delay: 0.6s;
}

.loader>span:nth-child(4){
	animation-delay: 0.9s;
}

.loader>span:nth-child(5){
	animation-delay: 1.2s;
}

.loader>span:nth-child(6){
	animation-delay: 1.5s
}

.loader>span:nth-child(7){
	animation-delay: 1.8s
}

.loader>span:nth-child(8){
	animation-delay: 2s
}


