@import 'variables';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
}
  
ul{
  list-style: none;
}
  
a{
  text-decoration: none !important;
}


.section__title{ 
  @extend %sectionTitle;
}

.button{
  background: $brandRed;
  text-decoration: none;
  border-radius: 15px;
  height: 5rem;
  width: 20rem;
  font: 1.5rem;
  font-size: large;
  font-weight: bold;
  text-shadow: none;
  transition: transform 0.3s;   

      &:hover{
          background-color: $brandRed !important;
          color: $brandYellow;
          text-decoration: none;
          transform: scale(1.1);
      }
}

