@import 'variables';

/*----------LOGO HEADER-FOOTER----------*/  
.logoHeader{
    @include brandLogo;
    margin-left: 7rem;

    &:hover{
      animation: bounce 1s;
    }    
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/*----------NAV BAR STYLE----------*/
.header{
  background-color: $brandRed;

    img{
      height: 10rem;
      width: auto;
    }
}

.header__content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content__navbar{
  display: flex;
  align-items: center;
  justify-content: end;

    li{
      margin: 0 2.5rem;
      transition: transform 0.3s;
      font-size: 1.5rem;
      font-weight: 600;
    
        &:hover{
          @include menuItemHover;
        }

          a{
            @include menuAstyle;
          
              &:hover{
                @include menuAhover;
              }
          }
    }
}

#navbarNav{
  flex-direction: row-reverse;
}
/*----------END NAV BAR STYLE----------*/


/*----------FOOTER STYLE----------*/
.footer{
  width: 100%;
  
  .footer__content{
    display: flex;
    align-items:center;
    background-color: $brandRed;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 0 !important;  


    .logoFooter{
      @include brandLogo;
      padding-bottom: 6rem;
      border-radius: 25px;

      &:hover{
        animation: bounce 1s;
      }    
    }
    
    .quickMenu__content{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 2rem 0 5rem 0;
      text-align: center;
      padding-right: 7rem;

        .quickMenu__title h4{
          font-size: 2.5rem;
          font-weight: bolder;
          color: black;
      }
    
        .quickMenu__item{    
          transition: transform 0.3s;       
         
          &:hover{
            @include menuItemHover;
          }
    
            a{          
             @include menuAstyle;
             color: black;
    
              &:hover{
                @include menuAhover;
              }
    
            }
        }    
    }

    .footer__socialMedia{
      display: flex;
      justify-content: center;

      .socialMedia__item{
        padding: 0 0.5rem 5rem 0.5rem;
      }

      .socialMedia__item-content{
        width: 4rem;
        height: 4rem;
        background-color: $brandRed;
        text-align: center;
        line-height: 4rem;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        z-index: 1;      
      
        .a__img{
          width: 3rem;
          height: 3rem;
          position: relative;
          transition: .5s;
          z-index: 3;
        }
      }
    }
  }
}

.socialMedia__item-content:hover img {
  transform: rotateY(360deg);
}

.socialMedia__item-content:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;  
  transition: .5s;
  z-index: 2;
}

.socialMedia__item-content:hover:before {
  top: 0;
}

.footer__socialMedia li:nth-child(1) a:before{
  background: $brandYellow;
}

.footer__socialMedia li:nth-child(2) a:before{
  background: $brandYellow;
}

.footer__socialMedia li:nth-child(3) a:before {
  background: $brandYellow;
}


.footer__rights{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $brandRed;
  justify-content: center;
  padding-top: 5rem;
  margin: auto;

    .rights__text{
      justify-self: center;
      text-align: center;
      font-size: 1.3rem;
      color: black;
      font-weight: 600;

        a{
          color: black;
        }
    }

    .goUp{
      display: flex;
      justify-content: right;
      background-color: $brandRed;
    
      a{
        color:$menuFontcolor;
       }
      
      .material-icons{
        font-size: 24px;
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }
}



