@import 'variables';
/*----------LOGO HEADER-FOOTER----------*/
  
.logoFooter{
  width: 25rem;
  height: auto;
  margin-left: 10rem;
  margin-top: 1rem;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.logoFooter:hover{
  animation: bounce 1s;
}


/*----------NAV BAR STYLE----------*/
.header{
  background-color: $brandRed;

    img{
      height: 7rem;
      width: auto;
      margin-left: 3rem;
    }
}


.header__content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content__navbar{
  display: flex;
  align-items: center;
  justify-content: end;

    li{
      margin: 0 2.5rem;
      transition: transform 0.3s;
      font-size: 1.5rem;
      font-weight: 600;
    
        &hover{
          transform: scale(1.2);    
          transition: ease-out 0.2s;
        }

          a{
            color: #292929;
            transition: transform 0.3s;
          
              &hover{
                transform: scale(5.2);    
                transition: ease-out 0.2s;
                color: $brandYellow;
              }
          }
    }
}

#navbarNav{
  flex-direction: row-reverse;
}


/*----------FOOTER STYLE----------*/
.container footer{
  width: 100%;
}

.footer{
  background-color: $brandRed;
  justify-content: space-between;
}

.a__img{
  width: 3rem;
  height: 3rem;
  transition: transform 0.3s;

    &hover{
      transform: scale(1.5);    
      transition: ease-out 0.3s;
    }
}