

/*----------FOOTER STYLE----------*/
.container footer{
    width: 100%;
  }
  
  .footer{
    background-color: #E33532;
    justify-content: space-between;
  }
  
  .a__img{
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s;
  }
  
  .a__img:hover{
    transform: scale(1.5);    
    transition: ease-out 0.3s;
  }