$h1: 8rem;
$h2: 6rem;
$h3: 3rem;
$brandRed:#E33532;
$brandYellow: #DEC513;
$cardShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
$menuFontcolor: #292929;
$sectionMargin: 10rem;

%sectionTitle{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-family: 'Caudex', serif;
    text-align: center;
    font-size: $h2;
    color: $brandRed;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

@mixin brandLogo{
  width: 25rem;
  height: auto;
}

@mixin card-text{
    font-size: 2rem;
    text-align: left;
}

@mixin menuItemHover{
  transform: scale(1.2);    
  transition: ease-out 0.2s;
}

@mixin menuAhover{
  transform: scale(5.2);    
  transition: ease-out 0.2s;
  color: $brandYellow;
}

@mixin menuAstyle{
  color: $menuFontcolor;
  font-size: 1.5rem;
  font-weight: 600;
}

$galmaImg: (
  xs: 15rem,
  sm: 15rem,
  md: 20rem,
  lg: 25rem,
  xl: 30rem,
);