@import 'global';
@import 'variables';
@import 'headerfooter';
@import 'scrollStyle';
@import './pageStyle/products';
@import './pageStyle/aboutus';
@import './pageStyle/contact';
@import './pageStyle/findus';


@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Ropa+Sans:ital@1&display=swap');


/*----------INDEX - MARKETING----------*/
.marketing{
  margin-top: 15rem;
  font-size: 2rem;

    .marketing__cards{
      text-align: center;

      .row{
        height: max-content;
      }

      .marketing__cards--item{
        h3{
          margin-top: 1rem;
          font-size: $h3;
        }
    
        img{
          width: 25rem;
          height: 25rem;        
        }
        
        a{
          font-size: large;
        }
             
        .btn{
          padding-top: 1rem;
          text-decoration: none;
          height: 5rem;
          width: 10rem;
        }
      }
    }
}
/*----------END INDEX - MARKETING----------*/

/*----------INDEX - SLIDER----------*/
.carousel-item{
  .img1{
    display: block;
  }

  .img2{
    display: none;
  }
}
/*----------END INDEX - SLIDER----------*/
 
  
/*----------INDEX - HIGHLIGHTS----------*/
.products__section{  
  margin: 10rem 0;
  display: grid;
  justify-items: center;

  .card.mb-3{
    max-width: 60%;
    box-shadow: $cardShadow;
  
    .col-md-4{
      align-self: center;
  
    }
  }
}

.card-text{
  @include card-text;

  .h3{
    font-size: $h3;
  }
}
/*----------END INDEX - HIGHLIGHTS----------*/

  
/*----------NDEX - GALMA DECO----------*/
.sectionGalma{
  margin-bottom: 10rem;

  .sectionGalma__logo--a{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    #galmaLogo{
      width: 35rem;
      height: 15rem;
      border-radius: 10px;
      margin-bottom: 2rem;
      transition: transform 0.5s;
      box-shadow: $cardShadow;
      transition: ease-out 0.3s;
      margin-bottom: 5rem;

        &:hover{
          box-shadow: rgba(0, 0, 0, 0.56) 0px 7px 15px 3px;
          transform: scale(1.1);
        }
    }
  }
}

.sectionGalma__products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  justify-items: center;
  column-gap: 1rem;
  width: fit-content;
  margin: auto;

    img{
      width: 20rem;
      height: 20rem;    
      border-radius: 10px;
    }
}
/*----------END NDEX - GALMA DECO----------*/



/*----------MEDIA QUERIES----------*/
@media (max-width: 1260px){


  /*----------HEADER STYLES----------*/
  .header__content{
    justify-content: center;

    a{
      margin:auto
    }
  }

 /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products{
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    padding: 0;

    img{
      width: map-get($galmaImg, xl);       
      height: map-get($galmaImg, xl);   
    } 
  }

  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img{
    width: map-get($poductWidhtImg, lg) !important;
  }

  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    row-gap: 2rem;
  } 
  
  /*----------ABOUT US PAGE MEDIA----------*/
  .video{
    width: 50vw;
    height: auto;
    margin-bottom: 10rem;
    justify-content: center;  
  }
}

@media (max-width: 992px){
  /*----------HEADER----------*/
  .logoHeader{
    margin: auto;
  }
  .content__navbar{
    flex-direction: column;
    padding: 1rem;
    height: 80vh;
    width: 100vw;
    justify-content: start;
    align-items: center;    

      li{
        font-size: 2rem;
        padding: 2rem;        
      }
  }   

  /*----------INDEX-MARKETING----------*/
  .marketing__cards--item{
    margin-bottom: 5rem;
  }

  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products{
    grid-template-columns: repeat(2,1fr);

    img{
      width: map-get($galmaImg, lg);       
      height: map-get($galmaImg, lg);   
    } 
  }

  /*----------PRODUCTS PAGE CARDS----------*/
  .card .products__img{
    width: map-get($poductWidhtImg, md) !important;
  }

  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    margin: 5rem auto auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  /*----------ABOUT US PAGE MEDIA----------*/
  .sectionAboutUs{
    text-align: -webkit-center;
  }

  .video{
    width: 80vw;
    height: auto;
    margin: auto;
    justify-content: center;  
  }

  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    justify-items: center;
  }

  .form__img{
    width: 80vw;
    height: auto;
  }

  /*----------CONTACT PAGE MEDIA----------*/
  .footer__logo{
    padding-top: 3rem;
  }
}

@media (max-width: 768px){ 

  /*----------SLIDER----------*/
  .carousel-item{
    .img1{
      display: none;
    }

    .img2{
      display: block;
    }
  }

  /*----------INDEX - GALMA DECO----------*/
  .sectionGalma__products img{
    width: map-get($galmaImg, md);       
    height: map-get($galmaImg, md);     
  }
  
  /*----------INDEX HIGHLIGHTS CARDS----------*/ 
  .products__section .card.mb-3{
    max-width: 90%;

    img{
      width: 90%;
      margin: 5%;
      border-radius: 15px !important;
    }

    .card-text{
      margin: 2rem 3rem;
    }

  }

  .card-text{
    padding-left: 1.5rem;
  }

  /*----------ABOUT US PAGE MEDIA----------*/
  .sectionAboutUs{
    text-align: -webkit-center;
  }

  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    justify-items: center;
  }

  .card-body{
    padding: 0;
    align-self: center;
  } 

  /*----------FOOTER----------*/ 
  .footer__content{
    display: grid !important;

      .quickMenu__content{
        padding: 0 !important;
      }
  }

  .goUp{
    display: none;
  }
}

@media (max-width: 576px){
    /*----------HEADER----------*/
    .loader>span{
      font-size: 10rem;
    }

  /*----------PRODUCTS PAGE CARDS----------*/
  .products__img{
    width: 34rem;
  }

  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products{
    grid-template-columns: repeat(2,1fr);

    img{
      width: map-get($galmaImg, sm);       
      height: map-get($galmaImg, sm);     
    } 
  }

  /*----------FIND US PAGE MEDIA----------*/
  .findUs__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    margin: 5rem auto auto auto;
    column-gap: 4rem;
    row-gap: 3rem;
  }

  /*----------ABOUT US PAGE MEDIA----------*/
  .video{
    width: 90vw;
  }

  /*----------CONTACT PAGE MEDIA----------*/
  .contact__grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px){
    /*----------HEADER----------*/
    .loader>span{
      font-size: 8rem;
      width: fit-content;
    }
  
  /*----------GALMA----------*/
  .sectionGalma__products{
    img{
      width: map-get($galmaImg, xs);       
      height: map-get($galmaImg, xs);   
    }
  }

    /*----------PRODUCTS PAGE CARDS----------*/
    .products__img{
      width: map-get($poductWidhtImg, sm) !important;
    }

  /*---------CONTACT FORM----------*/
  .contact__form{
    width: fit-content;
  } 
}

@media (max-width: 380px){ 
  /*----------HEADER----------*/
  .loader>span{
    font-size: 8rem;
  }

  /*---------SECTION TITLE GLOBAL STYLE----------*/
  .section__title{
    font-size: 4rem;
  }

  /*---------PRODUCTS CARD----------*/
  .products__img{
    width: map-get($poductWidhtImg, xs) !important;
  }

  /*----------NDEX - GALMA DECO----------*/
  .sectionGalma__products{
    img{
      width: map-get($galmaImg, xs);       
      height: map-get($galmaImg, xs);  
    }
  }  

  /*---------CONTACT FORM----------*/
  .contact__form{
    width: 90vw;

      #message{
        width: 20rem;
      }
  }  
}




