@import 'variables';

/*----------ABOUT US PAGE STYLE----------*/

.sectionAboutUs{
    h2{
    @extend %sectionTitle;
    }
}

.about__text{
    @include card-text;
    align-items: center;

    h3{
        font-size: $h3;
    }    
}

.video{
    width: 60rem;
    height: 33rem;
    box-shadow: $cardShadow;    
}