@import 'variables';

/*----------CONTACT PAGE STYLE----------*/
.contact{

    .section__title{
        @extend %sectionTitle;
     }
}

.contact__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact__form{
    border: solid 1px #474544;
    width: 100%;
    font-size: 1.5rem;
    color: #999;
}

#name{
    grid-area: name;
}

#lastName{
    grid-area: lastName;
}

#email{
    grid-area: email;
}

#subject{
    grid-area: subject;
}

#message{
    grid-area: message;

        .form--text{
            width: 40rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 5.5rem;
            margin-bottom: -2.5rem;            
        }
}

#sendButton{
    grid-area: sendButton;    
    width: 100%;
    margin-top: 2.5rem;
}

.form__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto;
    grid-template-areas: 
    "name lastName"
    "email subject"
    "message message"
    "message message"
    "sendButton sendButton";
}

.form--item{
    margin: 1rem auto 0.5rem auto;
    justify-content: center;
    text-align: center;
    padding: auto; 
}

.form--label{
    font-weight: bold;
    color: #292929;
}

.form--text{
    border: none;
    border-bottom: solid 1px #474544;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 90%; 
    text-align: center;
}

.btn--input{
    all: unset;
}

.form__img{
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

.swal-modal {
    border-radius: 15px;
    border: 3px solid $brandRed;
}

.swal-title {
    margin: 0px;
    font-size: 4rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 2.5rem;
    text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
}

.swal-text {
    font-size: 2rem;
    padding: 2rem;
    display: block;
    margin: 22px;
    text-align: center;
    color: black;
    text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
}